**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x = 'Ahmed'
len(x)

5

In [3]:
count = 0
for i in x:
  count+=1
count

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [18]:
x = ["Ahmed", 'Emad']
for i in x:
  if len(i) > 2:
    print(i[0:2] + i[-2:])
  else:
    print(" ")

Ahed
Emad

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [19]:
name = input()
if len(name) < 3:
  print(name)
else:
  if name[-3: ] == 'ing':
    print(name+'ly')
  else:
    print(name+'ing')

Eat
Eating

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [22]:
lst = ['Ahmed', 'Mohammed', 'Wael']
longest_name = max(lst, key=len)
print(len(longest_name))
longest_name

8

'Mohammed'

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [28]:
s = 'abca'
x = 'e'
print(x+s[1:len(s)-1]+x)

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [29]:
s = 'Ahmed'
print(s[::2])

Amd

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [34]:
String = 'amr and ahmed are frindes but amr is the tallest'
l = String.split()
s = set()
for i in l:
  s.add((i, String.count(i)))
s

{('ahmed', 1),
 ('amr', 2),
 ('and', 1),
 ('are', 1),
 ('but', 1),
 ('frindes', 1),
 ('is', 1),
 ('tallest', 1),
 ('the', 1)}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [36]:
name = input()
print(name.lower())
name.upper()

Ahmed
ahmed

'AHMED'

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [41]:
name = input()
if len(name)%4 == 0:
  print(name[::-1])

Emad
damE

**10- Write a Python program to remove a newline in Python

In [45]:
sentences = ''' I love English
Ahmed is clever
'''
sentences.replace('\n', " ")

' I love English Ahmed is clever '

**11-Write a Python program to check whether a string starts with specified characters

In [46]:
name ='Ahmed'
x = 'A'
if name.startswith(x):
  print(x)

A

**12- Write a Python program to add prefix text to all of the lines in a string

In [48]:
sentences = ''' Ali love English
Ahmed is clever
'''
sentences = sentences.splitlines()
for i in sentences:
  print('Dr', i)

Dr  Ali love English
Dr Ahmed is clever

**13-Write a Python program to print the following numbers up to 2 decimal places

In [49]:
num = 4.5938758
print(round(num,2))

4.59

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [50]:
num = -4.5938758
print(round(num,2))

-4.59

**15-Write a Python program to display a number with a comma separator

In [51]:
num = 4.5938758
num = str(num)
print(num[0]+','+num[2:4])

4,59

**16-Write a Python program to reverse a string using 2 ways

In [53]:
name='Ahmed'
print(name[::-1])
print("".join(reversed(name)))

demhA
demhA

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [55]:
name = 'Ahmed'
d = dict()
for i in name:
  if i in d:
    d[i] +=1
  else:
    d[i] =1
d

{'A': 1, 'h': 1, 'm': 1, 'e': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [60]:
name = 'mohammed'
for i in name:
  if name.count(i)==1:
    print(i)
    break

o

**19-Write a Python program to remove spaces from a given string

In [61]:
name = 'Mohammed Salah'
name.replace(" ", "")

'MohammedSalah'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [65]:
name = 'ahmed'
n = len(name)
print(n*(n+1)/2)

15.0

**21-write a Python program to swap first and last element of any list.

In [66]:
l = [1, 3,4,5,6]
l[0], l[-1] = l[-1], l[0]
l

[6, 3, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [67]:
List = [23, 65, 19, 90]
List[0], List[2] = List[2], List[0]
List

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
l = [1,2,3,4,5]
len(l)

5

In [ ]:
count = 0
for i in l:
    count+=1
count

5

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l = [1,2,3,4,5]
max(l)

5

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
min(l)

1

**26-search for if an elem is existing in list

In [ ]:
l = [1,3,6,2,5,4,8,10]
elem = 4
for i in l:
    if i != elem:
        continue
    else:
        print('Element is exist')
        break

Element is exist

**27- clear python list using different ways

In [ ]:
l = [2,3,6,4,8,6,9]
l.clear()

In [ ]:
l

[]

In [ ]:
# My List
lst = [ 'a', 'b', 'c', 'd', 'd', 'e', 'd' ]

del lst[:]

In [ ]:
lst

[]

**28-remove duplicated elements from a list

In [ ]:
lst = [ 1,3,3,4,1,6,4,8,10 ]

In [ ]:
x = set(lst)
x

{1, 3, 4, 6, 8, 10}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
key_l = ['Name', 'Age']
val = ['Ahmed', 22]
val_1 = ['Ali', 19]
l = []
dic = dict()
dic2 = dict()
for k, v in zip(key_l, val):
    dic[k] = v
l.append(dic)
for k, v in zip(key_l, val_1):
    dic2[k] = v
l.append(dic2)

In [ ]:
l

[{'Name': 'Ahmed', 'Age': 22}, {'Name': 'Ali', 'Age': 19}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l = [1,2,4,4,6,2,7,9,12,7]
c = 0
for i in l:
    if l.count(i) == 1:
        c+=1
c

4

In [ ]:
dic = dict()
count = 1
for i in l:
    if i not in dic:
      dic[i] = count
    else:
      dic[i] = count + 1
dic

{1: 2, 2: 2, 4: 2, 6: 2, 7: 2, 9: 2, 12: 2}

In [ ]:
count

7

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
l = [1, 2, 2, 3, 4, 5 ]
lst = []
for i in range(1, len(l)):
  x = max(l[i], l[i-1])
  lst.append(x)
lst

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
def combination(l):
	for a in range(3):
		for b in range(3):
			for c in range(3):
				if (a!=b and b!=c and a!=c):
					print(l[a], l[b], l[c])

combination([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
from itertools import combinations
l = [1, 2, 3]
for i in range(1,4):
  elements = combinations(l, i)
  for e in list(elements):
    print(list(e))

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
List_1 = ["a","b"]
List_2 = [1,2]
List_3 = List_1 + List_2
elements = combinations(List_3, 2)
for i in list(elements):
  if (isinstance(i[0], str) and isinstance(i[1], int)):
    print(i)

('a', 1)
('a', 2)
('b', 1)
('b', 2)

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
lst = []
l = [1, 1, 2, 3, 4, 5, 1, 2, 1]
for i in l:
  if i not in lst:
    lst.append(i)
lst

[1, 2, 3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
l = []
l1 =  ['Gfg', 'is', 'best']
l2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in l2:
  l.append(l1[i])
l

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
lst = []
N = [2, 3]
for l in N:
  for i in test_list:
    if i.count(K) == l:
      lst.append(i)
lst

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(3):
  col = sorted(array, key = lambda x:x[i])
  print(col)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
d2 = dict()
l = list(d.keys())
l.sort()
for i in l:
  d2[i] = d[i]
d2

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
s = 7
output_dict = dict()
for k, v in test_dict.items():
  if (isinstance(v, int) and v < s) or (isinstance(v, str)):
    output_dict[k] = v
output_dict

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {**dic1, **dic2, **dic3}
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
dic = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for k, v in dic.items():
  print(k, v)

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dic1={3:30, 4:40}
dic2={5:50,6:60}
dic3 = {**dic1, **dic2}
dic3

{3: 30, 4: 40, 5: 50, 6: 60}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dic = {'Salary1' : 1000, 'Salary2' : 2000, 'Salary3' : 3000}
l = list(dic.values())
print(max(l))
min(l)

3000

1000

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
Original_Dictionary= {'c1': 'Red', 'c2': 'Green', 'c3': None}
New_Dictionary = dict()
for k, v in Original_Dictionary.items():
  if v != None:
    New_Dictionary[k] = v
New_Dictionary

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
t = (1,3,2,4,3,5)
print(t[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
a, b, c = (1, 2, 3)
print(a)
print(b)
c

1
2

3

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (1,2,3,4,5,6)
l = list(t)
l.append(7)
l = tuple(l)
l

(1, 2, 3, 4, 5, 6, 7)

**50-Write a Python program to convert a tuple to a string

In [ ]:
t = (1,2,3,4,5,6)
t = str(t)
t

'(1, 2, 3, 4, 5, 6)'

In [ ]:
t1 = (1,2,3,4,5,6)
t = []
for i in t1:
  i = str(i)
  t.append(i)
t = tuple(t)
t

('1', '2', '3', '4', '5', '6')

**51-Write a Python program to convert a list to a tuple

In [ ]:
l = [1,2,3,4,5,6]
l = tuple(l)
l

(1, 2, 3, 4, 5, 6)

**52-Write a Python program to reverse a tuple

In [ ]:
t = (1,2,3,4,5,6)
l=[]
for i in range(len(t):):
  l.append(i)
l=tuple(l)
l

(1, 2, 3, 4, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst = []
for i in sample_list:
  l = list(i)
  l[2] = 100
  print(l)
  t = tuple(l)
  lst.append(t)

lst

[10, 20, 100]
[40, 50, 100]
[70, 80, 100]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
lst = ['p', 'y', 'h', 'o', 'n', '3', '.', '0']
t = tuple(lst)
t

('p', 'y', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
import numpy as np
t = ((1,2,3),(4,5,6),(6,7,8))
for i in t:
  print(np.mean(i))

2.0
5.0
7.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
s = {2,4,3,3,5,6,8}
s.add(9)
s

{2, 3, 4, 5, 6, 8, 9}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
s = {2,4,3,3,5,6,8}
if 4 in s:
  s.remove(4)
s

{2, 3, 5, 6, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
s = {2,4,3,3,5,6,8}
s2 = {1,4,3,6,9,8,4}
print(s&s2)
print(s|s2)
print(s^s2)

{8, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 8, 9}
{1, 2, 5, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
s2 = {1,4,3,6,9,8,4}
print(max(s2))
min(s2)

9

1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
l = [1, 2, 0, 3, 4, 5 ]
num = 3
lst = []
for i in range(1, len(l)):
  if l[i]+ l[i-1] == num:
    lst.append((l[i-1], l[i]))
lst

[(1, 2), (0, 3)]